# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

cmd/vmr/vmr
cmd/vmr/vmr.exe
cmd/vmr/vm
cmd/vmr/vm.exe

bin/

build_win.sh
.DS_Store
build_linux.sh
build/*64
*.zip
test.sh
*.fish
*.cast
*.gif
