name: build

on:
  release:
    types: [created,published] # 表示在创建新的 Release 时触发

jobs:
  build-go-binary:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin] # 需要打包的系统
        goarch: [amd64, arm64] # 需要打包的架构
    steps:
      - uses: actions/checkout@v3
      - uses: wangyoucao577/go-release-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }} # 一个默认的变量，用来实现往 Release 中添加文件
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          retry: 10
          overwrite: true
          goversion: 1.22.0 # 可以指定编译使用的 Golang 版本
          binary_name: "vm" # 可以指定二进制文件的名称
          compress_assets: zip # 可以指定压缩的方式，支持 zip 和 tar.gz
          project_path: "cmd/vm" # 指定项目路径
          asset_name: vm_${{ matrix.goos }}_${{ matrix.goarch }}
          executable_compression: upx -9 vm # 可以指定压缩二进制文件的方式